.pie-pagina {
    width: 100%;
    background-color: $color-footer;
    color: #fff;
  
    .grupo-1 {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      padding: 45px 0px;
      @media (max-width: 800px) {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
        text-align: center;
    }
  
      .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 200px;
          height: 170px;
          margin: auto;
          object-fit: contain;
        }
      }
  
      .box h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
      }
  
      .box p {
        color: #efefef;
        margin-bottom: 10px;
      }
  
      .box .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        background-color: #cfc0ae5a;
        text-align: center;
        font-size: 20px;
        color: #fff;
        transition: all 300ms ease;
  
        &:hover {
          color: #ecbba6;
        }
      }
    }
  
    .grupo-2 {
      background-color: $color-bajo-footer;
      padding: 15px 10px;
      text-align: center;
      color: #fff;
  
      small {
        font-size: 15px;
      }
    }
  
   
}
  